<div class="wrapper">
<div class="container">
<div class="jumbotron text-white text-right">
    <h1 class="display-4">{{welcome}}</h1>
    <p class="lead">The video game that is rising in popularity due to it's unique agents and gameplay.</p>
    <hr class="my-4">
    <p class="description">VALORANT takes place on a version of Earth in the near future following an event known as First Light. This event spans the entire globe, leading to big transformations to life, technology, and how governments operate. However, select people across the globe start to gain abilities stemming from this massive event. These gifted individuals are called Agents.</p>
    <p class="lead">
      <a class="btn btn-danger btn-lg" role="button" routerLink="/agents">View Agents</a>
    </p>
</div>
</div>
</div>
